:root {
    --panelBgColor: #1c1c1c;
    --panelBorderColor: #272727;
    --panelInputBgColor: #333;
    --panelInputColor: #8e8e8e;
    --panelHColor: #b9b9b9;
    --panelInputHoverColor: #444;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

#mainPage {
    background-color: #f2f2f2;
}

#mainPage main {
    position: absolute;
    top: 50%;
    width: 45%;
    transform: translate(0, -50%);
    margin-left: calc(50% - 22.5%);
}

#mainPage::after {
    content: '';
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position-x: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: brightness(0.45);
}

a {
    text-decoration: none;
}

#clarioncorp h2 {
    margin: 0px;
    display: block;
    color: rgb(223, 223, 223);
    font-size: 1.2vh;
    margin-top: 0.8vh;
    margin-bottom: 0.5vh;
}

#clarioncorp, #labelConf, #themeConf, main {
    font-size: 0px;
}

input[type="color" i] {
    padding: 0.1vh 0.2vh;
}

#mainPage article, #clarioncorp {
    max-width: 40vh;
    margin: 0 auto;
    padding: 2vh;
    background-color: var(--panelBgColor);
    border: 0.1vh solid var(--panelBorderColor);
    border-radius: 1.5vh;
    text-align: center;
    box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5vh;
    display: block;
}

#clarioncorp img {
    opacity: 80%;
    margin-top: 0.3vh;
    width: 22vh;
    transition: opacity 200ms ease-in-out;
    max-width: 36vw;
}

#clarioncorp:hover img {
    opacity: 100%;
}

label {
    display: block;
    margin-bottom: 1vh;
}

input[type="text"] {
    padding: 1vh;
    border: none;
    font-size: 1.35vh;
    outline: none;
    color: #fff;
    width: 60%;
    background-color: transparent;
}

#mainPage div {
    border-radius: 0.4vh;
    width: 100%;
    display: flex;
    background-color: var(--panelInputBgColor);
}

#themePanel option [value="custom"] {
    display: none;
}

select[title="type"] {
    background-color: var(--panelInputBgColor);
    border: none;
    outline: none;
    font-size: 1.35vh;
    color: var(--panelInputColor);
    text-align: center;
    cursor: pointer;
    border-left: 0.1vh solid var(--panelInputHoverColor);
    appearance: none;
    width: 100%;
    height: 100%;
    padding-right: 1vh;
}

#mainPage div span {
    width: 40%;
    font-size: 0px;
}

#mainPage div span::after {
    content: '';
    width: 1.5vh;
    height: 0.7vh;
    position: absolute;
    margin-left: -2.5vh;
    margin-top: 1.5vh;
    background-color: var(--panelInputColor);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
}

.selectDiv, #themePanel, #backgroundPanel {
    font-size: 0px;
}

input[type="button"] {
    display: block;
    width: 100%;
    font-size: 1.35vh;
    padding: 1vh;
    margin-top: 1vh;
    background-color: #4caf4f52;
    color: #ffffff;
    border: none;
    border-radius: 0.4vh;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

input[type="button"]:hover {
    background-color: #45a0498c;
}

footer, #privacyInfo {
    bottom: 0;
    padding: 0;
    position: absolute;
    color: #bfbfbf;
    font-style: oblique;
}

footer p, #privacyInfo {
    margin: 0px;
    font-size: 1.65vh;
    text-align: center;
    padding: 1vh;
}

[alt="main logo"] {
    width: 65vh;
    max-width: 78vw;
}

#mainLogoSpan {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

#configurationPage {
    display: flex;
    justify-content: center;
}

#configurationPage::after {
    content: '';
    background-image: url("image/area.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position-x: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#overlayPage article, #playerOverlay article {
    padding: 1.5vh;
    border: 0.1vh solid #6b6889;
    border-radius: 1vh;
    display: inline-block;
    background-color: #000023;
    overflow: hidden;
}

#overlayPage article div:nth-child(1), #playerOverlay article div:nth-child(1) {
    display: flex;
}

#mainUserData {
    margin-left: 0.7vh;
}

#mainUserData h2 {
    margin: 0px;
    text-transform: uppercase;
}

#mainUserData #username {
    color: white;
    overflow: hidden;
    max-width: 30vh;
    display: inline-flex;
    margin-top: 0.5vh;
}

.regionColor {
    color: #97baff;
}

#mainUserData h2:nth-child(1){
    font-size: 1.7vh;
    margin-top: 0.95vh;
}

#tierImg {
    width: 7vh;
    align-self:center;
}

#mainUserData h2:nth-child(2){
    color: #aaabc7;
    font-size: 2.1vh;
}

#configurationPage main {
    position: absolute;
    width: 70%;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#configurationPage img[alt="main logo"] {
    margin: 1.2vh 2.0vh;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 40vh;
}

#configurationPage aside {
    width: 30%;
    height: 99%;
    position: absolute;
    right: 0;
    padding-top: 1vh;
    border-left: 0.65vh solid var(--panelBorderColor);
    background-color: var(--panelBgColor);
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    background: linear-gradient(29deg, rgba(28,28,28,1) 28%, rgba(34,34,34,1) 46%, rgba(28,28,28,1) 67%);
}

.label:first-child {
    display: inline-flex;
}

#playerOverlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: rgb(0, 0, 36);
    resize: horizontal;
    overflow: auto;
    padding: 25px;
    min-width: 326px;
    max-width: 1230px;
    width: 326px;
    border-radius: 10px;
    border: 0.1vh solid #6b6889;
}

.statsLabel, .statsGrab {
    display: flex;
    justify-content: space-around;
    text-align: center; 
    margin-top: 0.3vh;
    padding-top: 0.3vh;
    flex-wrap: wrap;
}

.statsLabel {
    row-gap: 19px;
    border-top: 0.1vh solid #6b6889;
}

.statsGrab {
    display: inline-flex;
}

.statsGrab .statInfo {
    user-select: none;
    border: 0.1vh solid var(--panelBorderColor);
    cursor: grab;
}

.statInfo {
    min-width: 100px;
}

#labelConf .statInfo {
    padding: 0 10px;
}

.statName {
    font-size: 1.6vh;
    font-weight: 110;
    text-transform: uppercase;
    color: #aaabc7;
    pointer-events: none;
}

.statValue {
    font-size: 1.8vh;
    color: white;
    pointer-events: none;
}

#playerOverlay .statValue {
    margin-bottom: 0px;
}

#favStrikersList {
    width: 11.3vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-left: 2px;
    scale: 1.2;
}

#favStrikersList img {
    background-repeat: no-repeat;
    margin-top: -0.5vh;
    width: 2.8vh;
    height: 2.8vh;
    border-radius: 50%;
    border: 0.2vh solid #6b6889;
    background-size: cover;
}

#favStrikersDiv {
    visibility: hidden;
}

aside select {
    appearance: none;
    padding: 0.7vh;
    font-size: 1.3vh;
    outline: none;
    border: none;
    border-radius: 0.7vh;
    background-color: var(--panelInputBgColor);
    color: var(--panelInputColor);
    cursor: pointer;
    padding-right: 0px;
    border: 0.1vh solid var(--panelBgColor);
    width: 100%;
}

#themePanel select {
    width: 20%;
}

aside select * {
    background-color: var(--panelInputBgColor);
}

.selectDiv span, #themePanel span {
    width: 23%;
}

.selectDiv span::after, #themePanel span::after {
    content: '';
    width: 1.5vh;
    height: 0.7vh;
    position: absolute;
    margin-left: -2.5vh;
    margin-top: 1.2vh;
    background-color: var(--panelInputColor);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
}

#themePanel span::after {
    margin-top: 2.7vh;
}

.selectDiv {
    padding: 0px 2vh;
    justify-content: space-between;
    display: flex;
}

aside label, #backgroundPanel span {
    margin-left: 2vh;
    color: var(--panelHColor);
    -webkit-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    width: max-content;
}

#backgroundPanel span {
    width: 100%;
    margin-left: 0px;
}

aside label {
    cursor: pointer;
}

#labelConf h3, #themePanel h3 {
    padding-left: 3vh;
}

#themeConf #colorsPanel h3 {
    padding-left: 7vh;
}

aside label input[type="checkbox"] {
    display: none;
}

.customCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.9vh;
    height: 1.9vh;
    background-color: var(--panelBorderColor);
    border-radius: 0.3vh;
    border: 0.1vh solid var(--panelBgColor);
    cursor: pointer;
}

aside label:hover input[type="checkbox"] ~ .customCheckbox {
    background-color: var(--panelInputBgColor);
}

aside label input[type="checkbox"]:checked ~ .customCheckbox {
    background-color: var(--panelInputHoverColor);
}

.customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.6vh;
    top: 0.2vh;
    width: 0.5vh;
    height: 1vh;
    border: solid var(--panelBorderColor);
    border-width: 0 0.3vh 0.3vh 0;
    transform: rotate(45deg);
}

aside label input[type="checkbox"]:checked ~ .customCheckbox:after {
    display: block;
}

aside hr {
    border: 0.1vh solid var(--panelBorderColor);
}

aside h1 {
    padding-left: 1vh;
    color: whitesmoke;
}

input[type=color]{
	width: 6vh;
	height: 3vh;
	border: none;
	border-radius: 1.5vh;
	background: none;
    border: solid 0.1vh var(--panelInputBgColor);
    position: absolute;
    top: -0.5vh;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: solid 0.5vh var(--panelBorderColor);
	border-radius: 1.5vh;
}

#themeConf #colorsPanel {
    display: flex;
    padding: 0px 2vh;
    justify-content: space-around;
}

#themeConf label {
    margin-left: 0px;
}

#backgroundPanel {
    padding: 0px 2vh;
    justify-content: space-around;
    display: flex;
}

#backgroundPanel h3 {
    text-align: center;
}

#backgroundPanel select {
    width: 100%;
    text-align: center;
}

input[type=file]::file-selector-button {
    display: none;
}

input[type=file] {
    padding: 0.7vh;
    font-size: 1.3vh;
    outline: none;
    border: none;
    border-radius: 0.7vh;
    background-color: var(--panelInputBgColor);
    color: var(--panelInputColor);
    cursor: pointer;
    padding-right: 0px;
    width: 90%;
    margin-left: 3%;
    border: 0.1vh solid var(--panelBgColor);
}

#buttonsPanel {
    padding: 0px 2vh;
    justify-content: center;
    display: flex;
    max-height: 5vh;
}

input[type=file], select, input[type=color] {
    transition: color 100ms ease;
}

input[type=file]:hover, select:hover {
    background-color: var(--panelInputHoverColor);
}

#colorsPanel label:hover input::-webkit-color-swatch {
    border-color: var(--panelInputBgColor);
}

#buttonsPanel button {
    padding: 1.5vh;
    font-size: 1.3vh;
    outline: none;
    border: none;
    border-radius: 0.7vh;
    cursor: pointer;
    width: 26%;
    color: rgb(199, 199, 199);
}

#buttonsPanel button:nth-child(1) {
    margin-right: 3vh;
    background-color: #af4c4c52;
}

#buttonsPanel button:nth-child(1):hover {
    margin-right: 3vh;
    background-color: #a045458c;
}

#buttonsPanel button:nth-child(2) {
    background-color: #4caf4f52;
}

#buttonsPanel button:nth-child(2):hover {
    background-color: #45a0498c;
}

#themePanel h3 {
    color: var(--panelHColor);
    display: inline-block;
    margin-right: 1vh;
}

#overlayPage main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

h1 {
    font-size: 2.5vh;
}

h2 {
    font-size: 2.4vh;
}

h3 {
    font-size: 1.8vh;
}

@media (max-width: 768px) {
    #configurationPage main {
        width: 100%;
    }

    #configurationPage aside {
        width: 100%;
        margin-top: 100vh;
        border-left: none;
        border-top: 0.65vh solid var(--panelBorderColor);
    }
}


#loading {
    position: fixed;
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

#loading::before {
    content: '';
    position: absolute;
    margin-left: calc(50% - 44px);
    margin-top: calc(25% - 21.1px);
    width: 88px;
    height: 42.2px;
    background: radial-gradient(circle closest-side,#ffffff 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#ffffff 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#ffffff 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 21.1px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1s infinite linear;
}
    
@keyframes dots-7ar3yq {
    20% {
        background-position: 0%   0%, 50%  50%,100%  50%;
    }
    40% {
        background-position: 0% 100%, 50%   0%,100%  50%;
    }
    60% {
        background-position: 0%  50%, 50% 100%,100%   0%;
    }
    80% {
        background-position: 0%  50%, 50%  50%,100% 100%;
    }
}

.labelLine {
    height: 0.1vh;
    border-top: 0.1vh solid #6b6889;
    margin-top: -156px;
    position: absolute;
    width: inherit;
    min-width: 326px;
    max-width: 1230px;
    display: none;
}

#overlayPage #playerOverlay {
    resize: none;
}
