:root {
    --panelBgColor: #1c1c1c;
    --panelBorderColor: #272727;
    --panelInputBgColor: #333;
    --panelInputColor: #8e8e8e;
    --panelHColor: #b9b9b9;
    --panelInputHoverColor: #444;
}

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    zoom: 0.9;
    font-family: Arial, sans-serif;
}

#mainPage, #streamelementsPage {
    background-color: #f2f2f2;
}

#mainPage main, #streamelementsPage main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 90%;
}

#mainPage::after, #streamelementsPage::after, #notFoundPage::after {
    content: '';
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-position-x: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: brightness(0.45);
}

#streamelementsPage::after {
    filter: blur(3.24px) brightness(0.45);
    scale: 1.1;
    position: fixed;
}

#streamelementsPage textarea {
    background-color: var(--panelInputBgColor);
    border: none;
    box-shadow: 0 2.16px 5.4px rgba(0, 0, 0, 0.1);
    border-radius: 5.4px;
    width: -webkit-fill-available;
    margin: 0 auto;
    padding: 21.6px;
    outline: none;
    resize: none;
    color: var(--panelInputColor);
    height: 66.96px;
    overflow: hidden;
    font-size: 15.12px;
}

a {
    text-decoration: none;
}

#clarioncorp h2 {
    margin: 0px;
    display: block;
    color: rgb(223, 223, 223);
    font-size: 12.96px;
    margin-top: 8.64px;
    margin-bottom: 5.4px;
}

#clarioncorp, #labelConf, #themeConf, main {
    font-size: 0px;
}

input[type="color" i] {
    padding: 1.08px 2.16px;
}

#mainPage article, #clarioncorp {
    max-width: 432px;
    margin: 0 auto;
    padding: 21.6px;
    background-color: var(--panelBgColor);
    border: 1.08px solid var(--panelBorderColor);
    border-radius: 16.2px;
    text-align: center;
    box-shadow: 0 2.16px 5.4px rgba(0, 0, 0, 0.1);
    margin-bottom: 27px;
    display: block;
}

#clarioncorp img {
    opacity: 80%;
    margin-top: 3.24px;
    width: 237.6px;
    transition: opacity 200ms ease-in-out;
    max-width: 36vw;
}

#clarioncorp:hover img {
    opacity: 100%;
}

label {
    display: block;
    margin-bottom: 10.8px;
}

input[type="text"] {
    padding: 10.8px;
    border: none;
    font-size: 14.58px;
    outline: none;
    color: #fff;
    width: 60%;
    background-color: transparent;
}

#mainPage div {
    border-radius: 4.32px;
    width: 100%;
    display: flex;
    background-color: var(--panelInputBgColor);
}

#themePanel option [value="custom"] {
    display: none;
}

select[title="type"] {
    background-color: var(--panelInputBgColor);
    border: none;
    outline: none;
    font-size: 14.58px;
    color: var(--panelInputColor);
    text-align: center;
    cursor: pointer;
    border-left: 1.08px solid var(--panelInputHoverColor);
    appearance: none;
    width: 100%;
    height: 100%;
    padding-right: 10.8px;
}

#mainPage div span {
    width: 40%;
    font-size: 0px;
}

#mainPage div span::after {
    content: '';
    width: 16.2px;
    height: 7.56px;
    position: absolute;
    margin-left: -27px;
    margin-top: 16.2px;
    background-color: var(--panelInputColor);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
}

.selectDiv, #themePanel, #backgroundPanel {
    font-size: 0px;
}

input[type="button"], #streamelementsPage button {
    display: block;
    width: 100%;
    font-size: 14.58px;
    padding: 10.8px;
    margin-top: 10.8px;
    background-color: #4caf4f52;
    color: #ffffff;
    border: none;
    border-radius: 4.32px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

input[type="button"]:hover, #streamelementsPage button:hover {
    background-color: #45a0498c;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p, #privacyInfo {
    margin: 0px;
    font-size: 17.82px;
    text-align: center;
    padding: 10.8px;
    color: #bfbfbf;
    font-style: oblique;
}

[alt="main logo"] {
    width: 702px;
    max-width: 100%;
}

#mainLogoSpan {
    display: flex;
    justify-content: center;
    margin-bottom: 43.2px;
}

#configurationPage {
    display: flex;
    justify-content: center;
}

#configurationPage::after {
    content: '';
    background-image: url("image/area.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-position-x: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#overlayPage article, #playerOverlay article {
    padding: 16.2px;
    border: 1.08px solid #6b6889;
    border-radius: 10.8px;
    display: inline-block;
    background-color: #000023;
    overflow: hidden;
}

#overlayPage article div:nth-child(1), #playerOverlay article div:nth-child(1) {
    display: flex;
}

#mainUserData {
    margin-left: 7.56px;
}

#mainUserData h2 {
    margin: 0px;
    text-transform: uppercase;
}

#mainUserData #username {
    color: white;
    overflow: hidden;
    max-width: 324px;
    display: inline-flex;
    margin-top: 5.4px;
}

.regionColor {
    color: #97baff;
}

#mainUserData h2:nth-child(1){
    font-size: 18.36px;
    margin-top: 10.26px;
}

#tierImg {
    width: 75.6px;
    align-self:center;
}

#mainUserData h2:nth-child(2){
    color: #aaabc7;
    font-size: 22.68px;
}

#configurationPage main {
    width: 70%;
    height: 100%;
}

#configurationPage img[alt="main logo"] {
    margin: 12.96px 21.6px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 432px;
}

#configurationPage aside {
    width: 30%;
    padding-top: 10.8px;
    border-left: 7.02px solid var(--panelBorderColor);
    background-color: var(--panelBgColor);
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    background: linear-gradient(29deg, rgba(28,28,28,1) 28%, rgba(34,34,34,1) 46%, rgba(28,28,28,1) 67%);
}

.label:first-child {
    display: inline-flex;
}

#playerOverlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 36);
    resize: horizontal;
    overflow: auto;
    padding: 25px;
    min-width: 326px;
    max-width: 1230px;
    width: auto;
    border-radius: 10px;
    border: 1.08px solid #6b6889;
    position: absolute;
    top: 50%;
    left: 35%;
    translate: -50% -50%;
}

.statsLabel, .statsGrab {
    display: flex;
    justify-content: space-around;
    text-align: center; 
    margin-top: 3.24px;
    padding-top: 3.24px;
    flex-wrap: wrap;
}

.statsLabel {
    row-gap: 19px;
    border-top: 1.08px solid #6b6889;
}

.statsGrab {
    width: 96%;
    align-content: flex-start;
    display: inline-flex;
    justify-content: space-between;
    padding: 12px;
    background: #33333361;
    gap: 5px;
    min-height: 280px;
}

.statsGrab .statInfo {
    user-select: none;
    border: 1.08px solid var(--panelBorderColor);
    cursor: grab;
}

.statInfo {
    min-width: 100px;
}

#labelConf .statInfo {
    padding: 0 10px;
    min-width: 50px;
    height: max-content;
    background-color: var(--panelBgColor);
}

.statName {
    font-size: 17.28px;
    font-weight: 110;
    text-transform: uppercase;
    color: #aaabc7;
    pointer-events: none;
}

.statValue {
    font-size: 19.44px;
    color: white;
    pointer-events: none;
}

#labelConf .statName {
    font-size: 12.28px;
}

#labelConf .statValue {
    font-size: 14.44px;
}

#playerOverlay .statValue {
    margin-bottom: 0px;
}

#favStrikersList {
    width: 122.04px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-left: 2px;
    scale: 1.2;
}

#labelConf #favStrikersList {
    width: 105.04px;
    margin-left: -8px;
    margin-top: -2px;
    scale: 1;
}

#favStrikersList img {
    background-repeat: no-repeat;
    margin-top: -5.4px;
    width: 30.24px;
    height: 30.24px;
    border-radius: 50%;
    border: 2.16px solid #6b6889;
    background-size: cover;
}

#favStrikersDiv {
    visibility: hidden;
}

aside select {
    appearance: none;
    padding: 7.56px;
    font-size: 14.04px;
    outline: none;
    border: none;
    border-radius: 7.56px;
    background-color: var(--panelInputBgColor);
    color: var(--panelInputColor);
    cursor: pointer;
    padding-right: 0px;
    border: 1.08px solid var(--panelBgColor);
    width: 100%;
}

#themePanel select {
    width: 20%;
}

aside select * {
    background-color: var(--panelInputBgColor);
}

.selectDiv span, #themePanel span {
    width: 23%;
}

.selectDiv span::after, #themePanel span::after {
    content: '';
    width: 16.2px;
    height: 7.56px;
    position: absolute;
    margin-left: -27px;
    margin-top: 12.96px;
    background-color: var(--panelInputColor);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
}

#themePanel span::after {
    margin-top: 29.16px;
}

.selectDiv {
    padding: 0px 21.6px;
    justify-content: space-between;
    display: flex;
}

aside label, #backgroundPanel span {
    margin-left: 21.6px;
    color: var(--panelHColor);
    -webkit-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    width: max-content;
}

#backgroundPanel span {
    width: 100%;
    margin-left: 0px;
}

aside label {
    cursor: pointer;
}

#labelConf h3, #themePanel h3 {
    padding-left: 32.4px;
}

#themeConf #colorsPanel h3 {
    padding-left: 75.6px;
}

aside label input[type="checkbox"] {
    display: none;
}

.customCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20.52px;
    height: 20.52px;
    background-color: var(--panelBorderColor);
    border-radius: 3.24px;
    border: 1.08px solid var(--panelBgColor);
    cursor: pointer;
}

aside label:hover input[type="checkbox"] ~ .customCheckbox {
    background-color: var(--panelInputBgColor);
}

aside label input[type="checkbox"]:checked ~ .customCheckbox {
    background-color: var(--panelInputHoverColor);
}

.customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
    left: 6.48px;
    top: 2.16px;
    width: 5.4px;
    height: 10.8px;
    border: solid var(--panelBorderColor);
    border-width: 0 3.24px 3.24px 0;
    transform: rotate(45deg);
}

aside label input[type="checkbox"]:checked ~ .customCheckbox:after {
    display: block;
}

aside hr {
    border: 1.08px solid var(--panelBorderColor);
}

aside h1 {
    padding-left: 10.8px;
    color: whitesmoke;
}

input[type=color]{
	width: 64.8px;
	height: 32.4px;
	border: none;
	border-radius: 16.2px;
	background: none;
    border: solid 1.08px var(--panelInputBgColor);
    position: absolute;
    top: -5.4px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: solid 5.4px var(--panelBorderColor);
	border-radius: 16.2px;
}

#themeConf #colorsPanel {
    display: flex;
    padding: 0px 21.6px;
    justify-content: space-around;
}

#themeConf label {
    margin-left: 0px;
}

#backgroundPanel {
    padding: 0px 21.6px;
    justify-content: space-around;
    display: flex;
}

#backgroundPanel h3 {
    text-align: center;
}

#backgroundPanel select {
    width: 100%;
    text-align: center;
}

input[type=file]::file-selector-button {
    display: none;
}

input[type=file] {
    padding: 7.56px;
    font-size: 14.04px;
    outline: none;
    border: none;
    border-radius: 7.56px;
    background-color: var(--panelInputBgColor);
    color: var(--panelInputColor);
    cursor: pointer;
    padding-right: 0px;
    width: 90%;
    margin-left: 3%;
    border: 1.08px solid var(--panelBgColor);
}

#buttonsPanel {
    padding: 0px 21.6px;
    justify-content: center;
    display: flex;
    max-height: 47px;
}

input[type=file], select, input[type=color] {
    transition: color 100ms ease;
}

input[type=file]:hover, select:hover {
    background-color: var(--panelInputHoverColor);
}

#colorsPanel label:hover input::-webkit-color-swatch {
    border-color: var(--panelInputBgColor);
}

#buttonsPanel button {
    padding: 16.2px;
    font-size: 14.04px;
    outline: none;
    border: none;
    border-radius: 7.56px;
    cursor: pointer;
    width: 26%;
    color: rgb(199, 199, 199);
}

#buttonsPanel button:nth-child(1) {
    margin-right: 32.4px;
    background-color: #af4c4c52;
}

#buttonsPanel button:nth-child(1):hover {
    margin-right: 32.4px;
    background-color: #a045458c;
}

#buttonsPanel button:nth-child(2) {
    background-color: #4caf4f52;
}

#buttonsPanel button:nth-child(2):hover {
    background-color: #45a0498c;
}

#themePanel h3 {
    color: var(--panelHColor);
    display: inline-block;
    margin-right: 10.8px;
}

#overlayPage main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 25.92px;
}

h3 {
    font-size: 19.44px;
}

#loading {
    position: fixed;
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

#loading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 54.2px;
    background: radial-gradient(circle closest-side,#ffffff 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#ffffff 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#ffffff 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 33.1px;
    background-repeat: no-repeat;
    animation: dots 1s infinite linear;
}
    
@keyframes dots {
    20% {
        background-position: 0%   0%, 50%  50%,100%  50%;
    }
    40% {
        background-position: 0% 100%, 50%   0%,100%  50%;
    }
    60% {
        background-position: 0%  50%, 50% 100%,100%   0%;
    }
    80% {
        background-position: 0%  50%, 50%  50%,100% 100%;
    }
}

.labelLine {
    height: 1.08px;
    border-top: 1.08px solid #6b6889;
    margin-top: -156px;
    position: absolute;
    width: inherit;
    min-width: 326px;
    max-width: 1230px;
    display: none;
}

#overlayPage #playerOverlay {
    resize: none;
}

#streamelementsLengthCount {
    position: absolute;
    color: floralwhite;
    margin-left: -33.48px;
    font-size: 14.04px;
    margin-top: 86.4px;
}

#streamelementsPage main div div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

#streamelementsMain {
    background-color: var(--panelBgColor);
    box-shadow: 0 2.16px 5.4px rgba(0, 0, 0, 0.1);
    border-radius: 16.2px;
    padding: 21.6px;
    display: grid;
    gap: 16.2px;
    max-width: 928.8px;
    margin: 0 auto;
}

#configurationPage .statsLabel .statInfo {
    cursor: grab;
}

#streamelementsFormated {
    background: #232323 !important;
    color: #747474 !important;
}

#streamelementsPage main div div:nth-child(3) button {
    margin: 0;
    width: 25%;
    min-width: 120px;
}

#streamelementsPage main div div:nth-child(3) button:nth-child(1) {
    background: #af4c4c52;
}

#streamelementsPage main div div:nth-child(3) button:nth-child(1):hover {
    background: #a045458c;
}

#streamelementsStatCommand {
    background: var(--panelBgColor);
    color: #747474;
    width: auto;
    padding: 21.6px;
    font-size: 15.12px;
    border-radius: 16.2px;
    box-shadow: 0 2.16px 5.4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: absolute;
    left: calc(50% - 116px);
    margin-left: 35%;
    top: calc(50% - 193px);
    margin-top: 47px;
}

#streamelementsStatCommand p
{
    margin: 0;
    margin-bottom: 3.24px;
    text-align: center;
    color: floralwhite;
}

#configurationPage main div:first-child {
    height: 90%;
}

#privacyInfo {
    height: calc(10% - 10px);
    overflow: hidden;
    align-content: end;
    padding: 0;
    padding-bottom: 10px;
}

#notFoundPage::after {
    filter: brightness(0.2);
}

#notFoundPage main {
    width: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    scale: 0.5;
    text-align: center;
    transform: translate(-100%, -100%);
}

#notFoundPage img {
    width: 750px;
    display: block;
    margin-left: calc(50% - 375px);
    filter: brightness(0.6);
}

#notFoundPage div {
    display: inline-flex;
    max-height: 270px;
    overflow: hidden;
}

#notFoundPage h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 200px;
    border-right: 20px solid whitesmoke;
    margin-right: 50px;
    padding-right: 50px;
    color: whitesmoke;
}

#notFoundPage h3 {
    font-size: 60px;
    align-content: center;
    color: whitesmoke;
    text-align: left;
}

#notFoundPage a {
    text-decoration: underline;
    transition: 0.2s color;
}

#notFoundPage a:hover {
    color: #b940cd;
}

#overlayPage #playerOverlay {
    left: 50%;
}

@media only screen and (max-width: 600px) {
    footer p, textarea, button, #configurationPage select, #file, #privacyInfo {
        font-size: 10px !important;
        padding: 3px !important;
    }

    #streamelementsLengthCount {
        font-size: 10px;
        margin-top: 54.4px;
    }

    #streamelementsMain {
        gap: 10px;
        padding: 12px;
    }

    #mainPage article, #clarioncorp {
        padding: 14.6px;
    }

    #streamelementsStatCommand {
        display: none;
    }

    #clarioncorp h2, input[type="text"], select[name="type"], input[type="button"] {
        font-size: 10px;
    }

    #loading::before {
        width: 100px;
        background-size: calc(100%/3) 21.1px;
    }

    #configurationPage aside {
        margin-top: 0;
        padding-bottom: 30px;
    }

    #labelConf h2, #themeConf a, #themeConf h3 {
        font-size: 10px !important;
    }

    #labelConf h1, #themeConf h1 {
        font-size: 13px !important;
    }

    #configurationPage #labelConf #favStrikersList {
        width: 127.04px;
        margin-left: -26px;
        margin-top: -21px;
        scale: 0.7;
    }

    #playerOverlay {
        left: 50%;
        scale: 0.5;
        transform: translate(-100%, -50%);
    }

    #configurationPage .statsGrab {
        width: -webkit-fill-available;
    }

    #configurationPage #themeConf label, #configurationPage #backgroundPanel {
        margin-bottom: 30px;
    }

    #configurationPage #themeConf span::after, #configurationPage .labelLine {
        display: none;
    }

    #configurationPage h1 {
        font-size: 15px !important;
    }

    #configurationPage {
        display: inline-block;
    }

    #configurationPage main, #configurationPage aside {
        width: 100%;
    }

    #configurationPage img:not(#tierImg) {
        margin: 10px 0 !important;
    }

    #mainUserData #username {
        margin: 0;
    }

    #notFoundPage img {
        width: 375px;
        margin-left: calc(50% - 187.5px);
    }

    #notFoundPage h1 {
        font-size: 100px;
        border-right: 10px solid whitesmoke;
        margin-right: 25px;
        padding-right: 25px;
    }
    
    #notFoundPage h3 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    #configurationPage main {
        width: 100%;
    }

    #configurationPage aside {
        width: 100%;
        border-left: none;
        border-top: 7.02px solid var(--panelBorderColor);
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    footer p, textarea, button, #configurationPage select, #file, #privacyInfo {
        font-size: 10px !important;
        padding: 5px !important;
    }

    #streamelementsLengthCount {
        font-size: 10px;
        margin-top: 54.4px;
    }

    main {
        scale: 0.5;
        transform-origin: left top;
    }

    #streamelementsStatCommand {
        scale: 0.5;
        transform-origin: right top;
    }

    #loading::before {
        width: 100px;
        background-size: calc(100%/3) 21.1px;
    }

    #configurationPage main {
        scale: 1;
    }

    #configurationPage aside {
        margin-top: 10px;
        padding-bottom: 30px;
    }

    #labelConf h2, #themeConf a, #themeConf h3 {
        font-size: 10px !important;
    }

    #labelConf h1, #themeConf h1 {
        font-size: 13px !important;
    }

    #configurationPage img[loading="lazy"] {
        width: 250px;
    }

    #configurationPage #labelConf #favStrikersList {
        width: 127.04px;
        margin-left: -26px;
        margin-top: -6px;
        scale: 0.7;
    }

    #playerOverlay {
        left: 50%;
        scale: 0.5;
        transform: translate(-100%, -100%)
    }

    #configurationPage .statsGrab {
        width: -webkit-fill-available;
    }

    #configurationPage #themeConf label, #configurationPage #backgroundPanel {
        margin-bottom: 30px;
    }

    #configurationPage #themeConf span::after, #configurationPage .labelLine {
        display: none;
    }

    .statsGrab  {
        min-height: 158px;
    }

    #configurationPage h1 {
        font-size: 15px !important;
    }

    #configurationPage {
        display: inline-block;
    }

    #configurationPage aside, #configurationPage main {
        width: auto;
    }

    #notFoundPage img {
        width: 375px;
        margin-left: calc(50% - 187.5px);
    }

    #notFoundPage h1 {
        font-size: 100px;
        border-right: 10px solid whitesmoke;
        margin-right: 25px;
        padding-right: 25px;
    }
    
    #notFoundPage h3 {
        font-size: 30px;
    }

    #notFoundPage main {
        transform: translate(-50%, -50%);
    }
}